<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<!--<configuration debug="true">-->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level [CorrelationId=%X{CorrelationId}] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="SAVE-TO-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/home/jj/IdeaProjects/property-management/docker/log/property-management.log</file>
        <immediateFlush>true</immediateFlush>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                /home/jj/IdeaProjects/property-management/docker/log/property-management-%d{yyyy-MM-dd}.log
            </fileNamePattern>
            <maxHistory>1</maxHistory><!-- log file will override after one day-->
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level [CorrelationId=%X{CorrelationId}] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.propertymanagement" additivity="false" level="info">
        <appender-ref ref="SAVE-TO-FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
